<!--begin pricing section -->
<section class="section-grey" id="pricing">

    <!--begin container -->
    <div class="container">

        <!--begin row -->
        <div class="row align-items-center">

            {{ range .Params.plans }}
            <!--begin col-md-4 -->
            <div class="col-md-4 col-sm-6 wow bounceIn" data-wow-delay="{{ .delay }}" style="visibility: visible; ">

                <div class="price-box-{{ .color }}">

                    <ul class="pricing-list">

                        <li class="price-title">{{ .title }}</li>

                        <li class="price-value">{{ .price }}</li>

                        <li class="price-subtitle">{{ .subtitle }}</li>

                        <li class="price-tag"><a href="{{ .link }}">GET STARTED</a></li>

                        {{ range .features }}
                        <li class="price-text">{{ . }}</li>
                        {{ end }}

                    </ul>

                </div>

            </div>
            <!--end col-md-4 -->
            {{ end }}

        </div>
        <!--end row -->

    </div>
    <!--end container -->

</section>
<!--end pricing section -->
