        <!--begin pricing section -->
        <section class="section-grey" id="pricing">
    
            <!--begin container -->
            <div class="container">
    
                <!--begin row -->
                <div class="row align-items-center">
    
                    <!--begin col-md-4 -->
                    <div class="col-md-4 col-sm-12">
    
                        <h2>Great pricing plans tailored to your business.</h2>
    
                        <p>Quis autem velis ets reprehender net etid quiste nets voluptate utised etum nets.</p>
                    
                        <!--begin row-->
                        <div class="row">
                        
                            <!--begin col-md-5-->
                            <div class="col-md-5 col-sm-6">
    
                                <!--begin testim-platform-->
                                <div class="testim-platform first">
    
                                    <p>TrustPilot</p>
    
                                    <div class="testim-rating">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                                    </div>
    
                                </div>
                                <!--end testim-platform-->
                                
                            </div>
                            <!--end col-sm-5-->
                            
                            <!--begin col-md-5-->
                            <div class="col-md-5 col-sm-6">
    
                                <!--begin testim-platform-->
                                <div class="testim-platform">
    
                                    <p>Feefo</p>
    
                                    <div class="testim-rating">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="far fa-star" aria-hidden="true"></i>
                                    </div>
    
                                </div>
                                <!--end testim-platform-->
                                
                            </div>
                            <!--end col-sm-5-->
                            
                        </div>
                        <!--end row-->
                        
                    </div>
                    <!--end col-md-4 -->
    
                    <!--begin col-md-4-->
                    <div class="col-md-4 col-sm-6 wow bounceIn" data-wow-delay="0.25s" style="visibility: visible; animation-delay: 0.25s; animation-name: bounceIn;">
    
                        <div class="price-box-white">
    
                            <ul class="pricing-list">
    
                                <li class="price-title">MONTHLY</li>
    
                                <li class="price-value">$19</li>
    
                                <li class="price-subtitle">Per Month</li>
    
                                <li class="price-tag"><a href="#">GET STARTED</a></li>
    
                                <li class="price-text">First two weeks free.</li>
                                
                                <li class="price-text">Amazing freatures.</li>
    
                            </ul>
    
                        </div>
    
                    </div>
                    <!--end col-md-4 -->
    
                    <!--begin col-md-4 -->
                    <div class="col-md-4 col-sm-6 wow bounceIn" data-wow-delay="0.75s" style="visibility: visible; animation-delay: 0.75s; animation-name: bounceIn;">
    
                        <div class="price-box-grey">
    
                            <ul class="pricing-list">
    
                                <li class="price-title">ANNUALY</li>
    
                                <li class="price-value">$29</li>
    
                                <li class="price-subtitle">Per Year</li>
    
                                <li class="price-tag"><a href="#">GET STARTED</a></li>
    
                                <li class="price-text">First two weeks free.</li>
                                
                                <li class="price-text">Save 45% with this plan</li>
    
                                <li class="price-text">Amazing freatures.</li>
    
                            </ul>
    
                        </div>
    
                    </div>
                    <!--end col-md-4 -->
    
                </div>
                <!--end row -->
    
            </div>
            <!--end container -->
    
        </section>
        <!--end pricing section -->