        <!--begin section-white -->
        <section class="section-white no-padding">
            
            <!--begin container-->
            <div class="container-fluid px-0">
    
                <!--begin row-->
                <div class="row no-gutters">
                
                    <!--begin col-md-6-->
                    <div class="col-md-6">
    
                        <img src="http://placehold.it/725x555" class="width-100" alt="Happy">
    
                    </div>
                    <!--end col-sm-6-->
                    
                    <!--begin col-md-6-->
                    <div class="col-md-6">
    
                        <!--begin small-column-inside-->
                        <div class="small-col-inside">
    
                            <h4>Discover four ways to lead a performing, extremly experienced team.</h4>
    
                            <!--begin accordion -->
                            <div class="accordion" id="accordionFAQ">
    
                                <!--begin card -->
                                <div class="card">
                                    
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                          Quis autem velis estim
                                        </button>
                                        </h5>
                                    </div>
    
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionFAQ">
                                        <div class="card-body">
                                        Nemo enim ipsam voluptatem quia voluptas situm ets aspernatis netsum loris fugit, sed quia magni dolores eos quis ratione sequi et vesciunt, neque et quis autem velis reprehenderit etsim quis velit netsum valoriset.
                                        </div>
                                    </div>
    
                                </div>
                                <!--end card -->
    
                                <!--begin card -->
                                <div class="card">
    
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                          Sedis quia magnit dolores
                                        </button>
                                        </h5>
                                    </div>
    
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionFAQ">
                                        <div class="card-body">
                                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur netsum loris fugit, sed quia magni dolores eos qui ratione sequi nesciunt, neque et quis autem velis reprehenderit ets quis velit.
                                        </div>
                                    </div>
    
                                </div>
                                <!--end card -->
    
                                <!--begin card -->
                                <div class="card">
    
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                          Neque quis autem reprehenderit
                                        </button>
                                        </h5>
                                    </div>
    
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionFAQ">
                                        <div class="card-body">
                                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur netsum loris fugit, sed quia magni dolores eos qui ratione sequi nesciunt, neque et quis autem velis reprehenderit ets quis velit.
                                        </div>
                                    </div>
    
                                </div>
                                <!--end card -->
    
                                <!--begin card -->
                                <div class="card">
    
                                    <div class="card-header" id="headingFour">
                                        <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                          Sequi nesciunt antem
                                        </button>
                                        </h5>
                                    </div>
                                    
                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionFAQ">
                                        <div class="card-body">
                                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur netsum loris fugit, sed quia magni dolores eos qui ratione sequi nesciunt, neque et quis autem velis reprehenderit ets quis velit.
                                        </div>
                                    </div>
    
                                </div>
                                <!--end card -->
    
                            </div>
                            <!--end accordion -->
    
                        </div>
                        <!--end small-column-inside-->
    
                    </div>
                    <!--end col-md-6-->
                
                </div>
                <!--end row-->
        
            </div>
            <!--end container-->
        
        </section>
        <!--end section-white -->