<!--begin section-white -->
<section class="section-white no-padding">
    
    <!--begin container-->
    <div class="container-fluid px-0">

        <!--begin row-->
        <div class="row no-gutters">
        
            <!--begin col-md-6-->
            <div class="col-md-6">

                <img src="{{ .Params.image }}" class="width-100" alt="{{ .Params.alt }}">

            </div>
            <!--end col-md-6-->
            
            <!--begin col-md-6-->
            <div class="col-md-6">

                <!--begin small-column-inside-->
                <div class="small-col-inside">

                    <h4>{{ .Params.title }}</h4>

                    <!--begin accordion -->
                    <div class="accordion" id="accordionFAQ">

                        {{ range .Params.faq }}
                        <!--begin card -->
                        <div class="card">

                            <div class="card-header" id="heading{{ .id }}">
                                <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ .id }}" aria-expanded="true" aria-controls="collapse{{ .id }}">
                                  {{ .question }}
                                </button>
                                </h5>
                            </div>

                            <div id="collapse{{ .id }}" class="collapse {{ if eq .id 1 }}show{{ end }}" aria-labelledby="heading{{ .id }}" data-parent="#accordionFAQ">
                                <div class="card-body">
                                    {{ .answer }}
                                </div>
                            </div>

                        </div>
                        <!--end card -->
                        {{ end }}

                    </div>
                    <!--end accordion -->

                </div>
                <!--end small-column-inside-->

            </div>
            <!--end col-md-6-->
        
        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end section-white -->
