<!--begin fun-facts -->
<section class="section-grey small-padding-bottom">
        
    <!--begin container-->
    <div class="container">

        <!--begin row-->
        <div class="row">
            
            <!--begin col md 7 -->
            <div class="col-md-7 mx-auto margin-bottom-10 text-center">

                <h4>{{ .Params.headline }}</h4>

            </div>
            <!--end col md 7-->
            
        </div>
        <!--end row-->
        
        <!--begin row-->
        <div class="row">
        
            {{ range .Params.facts }}
            <!--begin fun-facts-box -->
            <div class="col-md-3 fun-facts-box {{ .color }} text-center">
                
                <i class="{{ .icon }}"></i>
                
                <p class="fun-facts-title"><span class="facts-numbers">{{ .number }}</span><br>{{ .description }}</p>
                
            </div>
            <!--end fun-facts-box -->
            {{ end }}

        </div>
        <!--end row-->
        
    </div>
    <!--end container-->
        
</section>
<!--end fun-facts -->
