<!--begin faq section -->
<section class="section-white" id="faq">

    <!--begin container -->
    <div class="container">

        <!--begin row -->
        <div class="row">

            <!--begin col-md-12-->
            <div class="col-md-12 text-center padding-bottom-10">

                <h2 class="section-title">{{ .Params.section_title }}</h2>

                <p class="section-subtitle">{{ .Params.section_subtitle }}</p>

            </div>
            <!--end col-md-12 -->

        </div>
        <!--end row -->

        <!--begin row -->
        <div class="row">
            {{ range $index, $faq := .Params.faqs }}
            <!--begin col-md-6-->
            <div class="col-md-6">

                <div class="faq-box">

                    <h5>{{ $faq.question }}</h5>

                    <p>{{ $faq.answer }}</p>

                </div>

            </div>
            <!--end col-md-6 -->
            {{ end }}

        </div>
        <!--end row -->

    </div>
    <!--end container -->

</section>
<!--end faq section -->
