<!--begin contact section -->
<section class="section-bg-1" id="contact">
    
    <div class="section-bg-overlay"></div>

    <!--begin container-->
    <div class="container">

        <!--begin row -->
        <div class="row">

            <!--begin col-md-12-->
            <div class="col-md-12 text-center padding-bottom-10">

                <h3 class="section-title white-text">{{ .Params.section_title }}</h3>

                <p class="section-subtitle white">{{ .Params.section_subtitle | markdownify }}</p>

            </div>
            <!--end col-md-12 -->

        </div>
        <!--end row -->

        <!--begin row-->
        <div class="row justify-content-md-center">
        
            <!--begin col-md-6-->
            <div class="col-md-6 text-center margin-top-10">

                <!--begin register-form-wrapper-->
                <div class="register-form-wrapper wow bounceIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: bounceIn;">

                    <!--begin form-->
                    <div>
                         
                        <!--begin success message -->
                        <p class="register_success_box" style="display:none;">{{ .Params.register_success_message }}</p>
                        <!--end success message -->
                        
                        <!--begin register form -->
                        <form id="register-form" class="register-form register" action="php/register.php" method="post">
                            
                                <input class="register-input name-input white-input" required="" name="register_names" placeholder="{{ .Params.company_placeholder }}" type="text">
                        
                                <input class="register-input name-email white-input" required="" name="register_email" placeholder="{{ .Params.email_placeholder }}" type="email">
                            
                                <input value="{{ .Params.submit_text }}" class="register-submit" type="submit">
                            
                        </form>
                        <!--end register form -->
                        
                        <p class="register-form-terms">{{ .Params.terms }}</p>

                    </div>
                    <!--end form-->

                </div>
                <!--end register-form-wrapper-->

            </div>
            <!--end col-md-6-->
        
        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end contact section -->
