<!--begin home section -->
<section class="home-section" id="home">
    
    <!--begin container -->
    <div class="container">

        <!--begin row -->
        <div class="row align-items-center">
          
            <!--begin col-md-6-->
            <div class="col-md-6 margin-top-40 hero-content">

                <!-- Title from Netlify CMS -->
                <h1>{{ .Params.title }}</h1>

                <!-- Subtitle from Netlify CMS -->
                <p class="hero-text">{{ .Params.subtitle }}</p>

                <!--begin newsletter_form_box -->
                <div class="newsletter_form_box">
                    
                    <!-- Success Message from Netlify CMS -->
                    <p class="newsletter_success_box" style="display:none;">{{ .Params.newsletter_success_message }}</p>
                    
                    <!--begin newsletter-form -->
                    <form id="newsletter-form" class="newsletter-form" action="php/newsletter.php" method="post">

                        <!-- Placeholder from Netlify CMS -->
                        <input id="email_newsletter" type="email" name="nf_email" placeholder="{{ .Params.newsletter_placeholder }}">  

                        <!-- Button Text from Netlify CMS -->
                        <input type="submit" value="{{ .Params.newsletter_button_text }}" id="submit-button-newsletter">

                    </form>
                    <!--end newsletter-form -->

                    <!-- Terms List from Netlify CMS -->
                    <p class="newsletter-form-terms">
                        {{ range .Params.newsletter_terms }}
                            <span><i class="fas fa-check"></i> {{ . }}</span>
                        {{ end }}
                    </p>

                </div>
                <!--end newsletter_form_box -->
    
            </div>
            <!--end col-md-6-->

            <!--begin col-md-6-->
            <div class="col-md-6 hero-img">

                <!-- Image from Netlify CMS -->
                <img src="{{ .Params.image | absURL }}" class="width-100 top-margins-images" alt="Hero Image">

            </div>
            <!--end col-md-6-->

        </div>
        <!--end row -->

    </div>
    <!--end container -->

</section>
<!--end home section -->
