<!--begin partners-section-->
<div class="partners-section">
            
    <!--begin container-->
    <div class="container">

        <!--begin row-->
        <div class="row">
        
            <!--begin col-sm-12-->
            <div class="col-md-10 mx-auto text-center partners">
                
                <!-- Title -->
                <h5 class="partners-title">{{ .Params.partners_title }}</h5>
                
                <!-- Partners Logos -->
                <div class="partners-logos">
                    {{ range .Params.partner_images }}
                        <img src="{{ . | absURL }}" class="partners" alt="Partner Logo">
                    {{ end }}
                </div>
                
            </div>
            <!--end col-sm-12-->
            
        </div>
        <!--end row-->
        
    </div>
    <!--end container-->

</div> 
<!--end partners-section-->
