<!--begin testimonials section -->
<section class="section-grey" id="testimonials">

    <!--begin container -->
    <div class="container">

        <!--begin row -->
        <div class="row">

            <!--begin col md 12 -->
            <div class="col-md-12 mx-auto padding-bottom-40">

                <!--begin testimonials carousel -->
                <div id="carouselIndicators2" class="carousel slide" data-ride="carousel">
                    
                    <!--begin carousel-indicators -->
                    <ol class="carousel-indicators testimonials-indicators">
                        {{ range .Params.testimonials }}
                        <li data-target="#carouselIndicators2" data-slide-to="{{ .index }}"{{ if eq .index 0 }} class="active"{{ end }}></li>
                        {{ end }}
                    </ol>
                    <!--end carousel-indicators -->

                    <!--begin carousel-inner -->
                    <div class="carousel-inner">

                        <!--begin carousel-item -->
                        {{ range .Params.testimonials }}
                        <div class="carousel-item{{ if eq .index 0 }} active{{ end }}">

                            <!--begin row -->
                            <div class="row align-items-center testim-inner">

                                <!--begin col-md-6 -->
                                <div class="col-md-6">

                                    <!--begin video-popup-wrapper-->
                                    <div class="video-popup-wrapper">

                                        <!--begin popup-gallery-->
                                        <div class="popup-gallery">

                                            <!-- Testimonial Image -->
                                            <img src="{{ .testimonial_image | absURL }}" alt="testimonials" class="width-100 video-popup-image bottom-margins-images">

                                            <!-- Video Play Icon -->
                                            <a class="popup4 video-play-icon" href="{{ .video_link }}">
                                                <i class="fas fa-play"></i>
                                            </a>

                                        </div>
                                        <!--end popup-gallery-->

                                    </div>
                                    <!--end video-popup-wrapper-->

                                </div>
                                <!--end col-md-6 -->

                                <!--begin col-md-6 -->
                                <div class="col-md-6 testim-info">

                                    <!-- Quotation Icon -->
                                    <i class="fa fa-quote-left" aria-hidden="true"></i>

                                    <!-- Testimonial Text -->
                                    <p>{{ .testimonial_text }}</p>

                                    <!-- Testimonial Author -->
                                    <h6>{{ .testimonial_author }}<span> | {{ .testimonial_position }}</span></h6>

                                </div>
                                <!--end col-md-5 -->

                            </div>
                            <!--end row -->

                        </div>
                        <!--end carousel-item -->
                        {{ end }}

                    </div>
                    <!--end carousel-inner -->

                </div>
                <!--end testimonials carousel -->

            </div>
            <!--end col md 12-->

        </div>
        <!--end row -->

    </div>
    <!--end container -->

</section>
<!--end testimonials section -->
