<!--begin section-bg-2 -->
<section class="section-bg-2">

    <div class="section-bg-overlay"></div>

    <!--begin container-->
    <div class="container">

        <!--begin row-->
        <div class="row">

            <!--begin col md 7 -->
            <div class="col-md-7 mx-auto text-center">

                <h2 class="white-text">{{ .Title }}</h2>

                <p class="white-text">{{ .Params.description }}</p>
                
                {{ with .Params.buttons }}
                    {{ range . }}
                        <a href="{{ .link }}" class="btn-white small scrool">{{ .text }}</a>
                    {{ end }}
                {{ end }}

            </div>
            <!--end col md 7-->

        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end section-bg-2 -->
