<!--begin section-grey -->
<section class="section-grey">
    
    <!--begin container-->
    <div class="container">

        <!--begin row-->
        <div class="row align-items-center">
        
            <!--begin col-md-6-->
            <div class="col-md-6">

                <div class="nav flex-column nav-pills margin-right-25" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    {{ range .Params.features }}
                    <a class="nav-link{{ if eq .id "v-pills-home" }} active{{ end }}" id="{{ .id }}-tab" data-toggle="pill" href="#{{ .id }}" role="tab" aria-controls="{{ .id }}" aria-selected="{{ if eq .id "v-pills-home" }}true{{ else }}false{{ end }}">
                        <!--begin features-second -->
                        <div class="features-second">
                            <img src="{{ .image }}" alt="pic">
                            <h4 class="margin-bottom-5">{{ .title }}</h4>
                            <p>{{ .description }}</p>
                        </div>
                        <!--end features-second-->
                    </a>
                    {{ end }}
                </div>

            </div>
            <!--end col-md-6-->
            
            <!--begin col-md-6 -->
            <div class="col-md-6 padding-bottom-30">

                <div class="tab-content margin-left-20" id="v-pills-tabContent">
                    {{ range .Params.features }}
                    <div class="tab-pane fade{{ if eq .id "v-pills-home" }} show active{{ end }}" id="{{ .id }}" role="tabpanel" aria-labelledby="{{ .id }}-tab">
                        <img src="{{ .image }}" class="width-100 top-margins-images" alt="pic">
                    </div>
                    {{ end }}
                </div>

            </div>
            <!--end col-md-6 -->

        </div>
        <!--end row-->

    </div>
    <!--end container-->

</section>
<!--end section-grey-->
