        <!--begin section-grey -->
        <section class="section-grey">
            
            <!--begin container-->
            <div class="container">
    
                <!--begin row-->
                <div class="row align-items-center">
                
                    <!--begin col-md-6-->
                    <div class="col-md-6">
    
                        <div class="nav flex-column nav-pills margin-right-25" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    
                            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                            
                                <!--begin features-second -->
                                <div class="features-second">
                                    
                                    <img src="images/services-icon1.png" alt="pic">
    
                                    <h4 class="margin-bottom-5">Customize your workflow.</h4>
    
                                    <p>Manage any process and be ready to address any challenge with total ease.</p>
    
                                </div>
                                <!--end features-second-->
                            </a>
    
                            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                                
                                <!--begin features-second-->
                                <div class="features-second">
    
                                    <img src="images/services-icon2.png" alt="pic">
    
                                    <h4 class="margin-bottom-5">Easy onboarding, fast adoption.</h4>
    
                                    <p>With Square getting your team on board is as simple as sending an email.</p>
    
                                </div>
                                <!--end features-second-->
    
                            </a>
    
                            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                                
                                <!--begin features-second-->
                                <div class="features-second">
    
                                    <img src="images/services-icon3.png" alt="pic">
    
                                    <h4 class="margin-bottom-5">Improve subscriber retention.</h4>
    
                                    <p>Analyze customers by region, discounts and more and put a plan in place.</p>
    
                                </div>
                                <!--end features-second-->
    
                            </a>
    
                        </div>
    
                    </div>
                    <!--end col-md-6-->
                    
                    <!--begin col-md-6 -->
                    <div class="col-md-6 padding-bottom-30">
    
                        <div class="tab-content margin-left-20" id="v-pills-tabContent">
    
                            <div class="tab-pane fade show active left-dots-img" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                <img src="http://placehold.it/555x425" class="width-100 top-margins-images" alt="pic">
                            </div>
    
                            <div class="tab-pane fade left-dots-img" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"> 
                                <img src="http://placehold.it/555x425" class="width-100 top-margins-images" alt="pic">
                            </div>
    
                            <div class="tab-pane fade left-dots-img" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                <img src="http://placehold.it/555x425" class="width-100 top-margins-images" alt="pic">
                            </div>
    
                        </div>
    
                    </div>
                    <!--end col-md-6 -->
    
                </div>
                <!--end row-->
        
            </div>
            <!--end container-->
        
        </section>
        <!--end section-grey-->