{{ define "main" }}


{{ $hero := .Site.GetPage "/hero" }}
{{ partial "1_hero" $hero}}
{{ $partners := .Site.GetPage "/2_partners" }}
    {{ partial "2_partners" $partners}}
    {{ partial "3_about" .}}
    {{ partial "4_testimonials" .}}
    {{ partial "5_team" .}}
    {{ partial "6_discover" .}}
    {{ partial "7_portfolio" .}}
    {{ partial "8_award-winning" .}}
    {{ partial "9_customize" .}}
    {{ partial "10_features" .}}
    {{ partial "11_pricing" .}}
    {{ partial "12_discover" .}}
    {{ partial "13_fun-facts" .}}
    {{ partial "14_faq" .}}
    {{ partial "15_contact" .}}

{{ end }}
